section {
    box-sizing: border-box;
    max-width: 160ch;

    border-top: 2px solid currentColor;
    padding: 24px 48px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 256px;
    grid-gap: 36px;
}

@media screen and (width < 1480px) {
    section {
        max-width: 140ch;

        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width < 900px) {
    section {
        max-width: 90%;

        grid-template-columns: 1fr;
    }
}
