@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Swallow.Blazor.Charts Example</title>
    <link rel="stylesheet" href="@Assets["Swallow.Blazor.Charts.Example.styles.css"]" />

    <ImportMap />
    <HeadOutlet />
</head>
<body>
<Router AppAssembly="@typeof(App).Assembly">
    <Found>
        <RouteView RouteData="context" />
    </Found>
</Router>
</body>
</html>
