<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Swallow.Blazor Showcase</title>
    <ImportMap />
</head>

<body>
<main>
    <Router AppAssembly="@typeof(_Root).Assembly">
        <Found>
            <RouteView RouteData="context"/>
        </Found>
    </Router>
</main>
</body>

</html>
