@page "/"
@using Swallow.Blazor.Reactive.Components

<h3>Showcase</h3>

<article>
    <header>Reactive component</header>
    <CurrentTime />
</article>
<hr/>
<article>
    <header>Stateful component</header>
    <ReactiveBoundary Name="Island" ComponentType="@typeof(InteractiveTime)" />
</article>
<hr/>
<article>
    <header>Stateful component with parameter</header>
    <ReactiveBoundary Name="Buttons" Prerender ComponentType="@typeof(InteractiveButtonList)" ComponentParameters="@(new Dictionary<string, object?> { [nameof(InteractiveButtonList.Count)] = 5 })" />
</article>
