@page "/pie-chart"

<h3>Pie Charts</h3>

<PieChart Data="randomStuff" width="400" height="400" />

@code {
    private readonly DataSeries<string, int> daysPerMonth = new(
        Name: "Percentage of year",
        Values: new Dictionary<string, int>
        {
            ["January"] = 31,
            ["February"] = 28,
            ["March"] = 31,
            ["April"] = 30,
            ["May"] = 31,
            ["June"] = 30,
            ["July"] = 31,
            ["August"] = 31,
            ["September"] = 30,
            ["October"] = 31,
            ["November"] = 30,
            ["December"] = 31,
        });

    private readonly DataSeries<string, int> randomStuff = new(
        Name: "Random Stuff",
        Values: new Dictionary<string, int>
        {
            ["A"] = 5,
            ["B"] = 2,
            ["C"] = 8,
            ["D"] = 1,
        });

}
