@page "/line-chart"
@using Swallow.Blazor.Charts

<h3>Line Charts</h3>

<LineChart Data="[data]" Interpolation="Interpolation.StepEnd" width="400" height="400" />

@code {

    private DataSeries<int, int> data = new("Data", []);

    protected override void OnInitialized()
    {
        data = new DataSeries<int, int>(
            "Data",
            Enumerable.Range(0, Random.Shared.Next(15, 50)).Select(static x => new KeyValuePair<int, int>(x, Random.Shared.Next(0, 50))));
    }

}
