@page "/pie-chart"

<h3>Pie Charts</h3>

<PieChart Data="data" width="400" height="400" />

@code {
    private DataSeries<int, int> data = new("Data", []);

    protected override void OnInitialized()
    {
        data = new DataSeries<int, int>(
            "Data",
            Enumerable.Range(0, Random.Shared.Next(2, 8)).Select(static x => new KeyValuePair<int, int>(x, Random.Shared.Next(1, 10))));
    }
}
